{% extends "base-template.html" %}
{% block title %} Software Statistics{% endblock %}
{% block content %}
    <h1>
      Software Statistics
    </h1>
<hr>
<ul><li>Linux Software</li>
  <ul>
    <li>    <a href=/users/linux>Usage by Users</a> (<a href=/users/linux?format=json>json</a>,  <a href=/users/linux?format=csv>csv</a>)</li>
    <ul>
      <li>    <a href=/users/linux?exclude=True>Usage by Users with Excluded Packages</a> (<a href=/users/linux?format=json&exclude=True>json</a>,  <a href=/users/linux?format=csv&exclude=True>csv</a>)</li>
    </ul>
    <li>    <a href=/sessions/linux>Usage by Sessions</a> (<a href=/sessions/linux?format=json>json</a>,  <a href=/sessions/linux?format=csv>csv</a>)</li>
        <ul>
      <li>    <a href=/sessions/linux?exclude=True>Usage by Sessions with Excluded Packages</a> (<a href=/sessions/linux?format=json&exclude=True>json</a>,  <a href=/sessions/linux?format=csv&exclude=True>csv</a>)</li>
    </ul>
  </ul>
  <li>Windows Software</li>
  <ul>
    <li>    <a href=/users/windows>Usage by Users</a> (<a href=/users/windows?format=json>json</a>,  <a href=/users/windows?format=csv>csv</a>)</li>
      <ul>
            <li>    <a href=/users/windows?exclude=True>Usage by Users with Excluded Packages</a> (<a href=/users/windows?format=json&exclude=True>json</a>,  <a href=/users/windows?format=csv&exclude=True>csv</a>)</li>
      </ul>
    <li>    <a href=/sessions/windows>Usage by Sessions</a> (<a href=/sessions/windows?format=json>json</a>,  <a href=/sessions/windows?format=csv>csv</a>)</li>
    <ul>
       <li>    <a href=/sessions/windows?exclude=True>Usage by Sessions with Excluded Packages</a> (<a href=/sessions/windows?format=json&exclude=True>json</a>,  <a href=/sessions/windows?format=csv&exclude=True>csv</a>)</li>
      </ul>
  </ul>
  <li>    <a href=/packages/linux>Linux Package Usage versus Installed Packages</a></li>
  <li>Combined Software</li>
  <ul>
    <li> <a href=/deptstanding>Software Usage by Department, Standing, and Package</a> </li>
  </ul>
</ul>

{% endblock %}
