{% extends "base-template.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<h1>{{title}}</h1>
<p>{{description}}</p>
<hr>

<table>
  {% for p in packages|dictsort %}
  <tr>
    <td> {{ p[0] }} </td>
  </tr>

    {% for standing in p[1] %}
      {%- if loop.index > 1 %}   <!-- skip the 0th element, which here is 'launches' -->
        <tr>
          <td></td>
          <td> {{ standing }} ({{ (p[1][standing]['launchFraction']*100)|round(1) }}%)</td>
        </tr>

        {% for package in p[1][standing] %}
          {%- if loop.index > 2 %}   <!-- skip the 0th element, which here is 'launches' -->
            <tr>
              <td></td><td></td>
              <td align='left'>{{ package }} ({{ (p[1][standing][package]['launchFraction']*100)|round(1) }}%) </td>
            </tr>

            {% for person in p[1][standing][package] %}
              {%- if loop.index > 2 %}
              <tr>
                <td></td><td></td><td></td>
                <td> {{ person }} ({{ (p[1][standing][package][person]['launchFraction']*100)|round(1) }}%) </td>
              </tr>
              {% endif %} <!-- loop.index > 2 for person -->
            {% endfor %} <!-- for person... -->

          {% endif %}  <!-- loop.index > 2 for package -->
        {% endfor %} <!-- for package... -->

      {% endif %}  <!-- loop.index > 0 -->
    {% endfor %} <!-- for standing -->

  {% endfor %} <!-- for p -->
</table>
<hr>
{% endblock %}
