{% extends "base-template.html" %}
{% block title %} {{title}} Software Statistics{% endblock %}
{% block content %}
<h1>{{title}}</h1>
<p>{{description}}</p>
<hr>
<table>
<tr>
    {% for headings in header %}
    <td> {{header[loop.index0]}}</td>
    {% endfor %}
</tr>
{% for item in results[0] %}
  {% set parentloop=loop %}
<tr>
  {% for column in results %}
  <td>{{results[loop.index0][parentloop.index0]}}</td>
  {% endfor %}
</tr>
{% endfor %}

</table>
{% endblock %}